<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
    .container {
        margin: 0px 50px 50px 50px;
        padding: 30px;
    }
</style>

<body>
    <div class="slds-context-bar">
        <div class="slds-context-bar__primary">
            <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-no-hover">
                <span class="slds-context-bar__label-action slds-context-bar__app-name">
                    <span class="slds-truncate" title="Web Application">Web Application</span>
                </span>
            </div>
        </div>
        <nav class="slds-context-bar__secondary" role="navigation">
            <ul class="slds-grid">
                <li class="slds-context-bar__item slds-is-active">
                    <a href="/index" class="slds-context-bar__label-action" title="Home">
                        <span class="slds-truncate" title="View All Incidents">View All Incidents</span>
                    </a>
                </li>
                <li
                    class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click">
                    <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
                        <span class="slds-truncate" title="Actions">Actions</span>
                    </a>
                    <div class="slds-context-bar__icon-action slds-p-left_none">
                        <button id="test" class="slds-button slds-button_icon slds-button_icon slds-context-bar__button"
                            aria-haspopup="true" title="Open menu item submenu">
                            <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="slds-dropdown slds-dropdown_right">
                        <ul class="slds-dropdown__list" role="menu">
                            <li class="slds-dropdown__item" role="presentation">
                                <a href="/create_incident" role="menuitem" tabindex="-1">
                                    <span class="slds-truncate" title="Add New Incident">
                                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small"
                                            aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                        </svg>Add New Incident</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="slds-context-bar__item">
                    <a href="/logout" class="slds-context-bar__label-action" title="Menu Item">
                        <span class="slds-truncate" title="Logout">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class='container'>
        {{{body}}}
    </div>
    <script>
        $("button").click(function () {
            var element = $(this).parent().parent()
            element.toggleClass('slds-is-open');
        })
    </script>
</body>

</html>